<ion-view view-title="Account" hide-nav-bar="true">
    <ion-content>
        <ion-list">
                  <div class="buffer" />
                <div class="text-left">
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-wifi"></i> Usage
                        <span class="item-note">
                          300MB
                        </span>
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-social-bitcoin"></i> Balance
                        <span class="item-note">
      300
    </span>
                    </a>

                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-radio-waves"></i> Current network
                        <span class="item-note">
      Bitcoin-powered Wifi
    </span>
                    </a>

                    
                    <a class="item item-icon-left" href="#">
                        <i class="icon ion-ios-book"></i>
                        History
                        <span class="item-note">
                         >
                        </span>

                    </a>

                    <a class="button button-full button-assertive dis"  href="#/tab/dash">
  			          Disconnect
		            </a>
                    </span>

                </div>
            </ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
