<ion-view view-title="Account">
  <ion-content>
    <ion-list>
    <ion-toggle  ng-model="settings.enableFriends">
        <div class="bar bar-header bar-calm">
  			<h1 class="title">Status</h1>
		</div>
		
		<br><br>
<div class="text-left">
		 <a class="item item-icon-left" href="#">
    <i class="icon ion-wifi"></i>
    You have used on this network today
    <span class="item-note">
      300MB
    </span>
  </a>

   <a class="item item-icon-left" href="#">
    <i class="icon ion-social-bitcoin"></i>
    You have this much left on your balance
    <span class="item-note">
      300
    </span>
  </a>


<a class="item item-icon-left" href="#">
    <i class="icon ion-radio-waves"></i>
    This is your current network
    <span class="item-note">
      Bitcoin-powered Wifi
    </span>
  </a>
	  	



		<button class="button button-full button-assertive">
  			Disconnect
		</button>
	  	
</div>
    </ion-toggle>
    </ion-list>
  </ion-content>
</ion-view>
