<ion-view view-title="Home" hide-nav-bar="true">
    <ion-content class="padding">

        <img style="width:80%" class="logo" src="img/bitcoin.png">

        <div class="list">
            <label class="item item-input">          
              <span class="input-label icon-right ion-key" >&nbsp&nbsp&nbsp Public Key</span>
              <input type="text" placeholder="029cb4cbc58ff1b71b9aee78b0228313201e09d4a3bf263ed8e7e31709e49f7d28">
            </label>

            <label class="item item-input">
              <span class="input-label icon-right ion-wifi">&nbsp Wifi Name</span>
              <input type="text" placeholder="MyAccessPoint">
            </label>
        </div>

        <div class="Try">
          <a class="button button-clear button-positive larger" href="#/tab/account">
               <i  class="icon ion-ios-checkmark"></i>
        </a>
        </div>

    </ion-content>
</ion-view>
